# Flutter & Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/.gradle/
android/local.properties
*.keystore

# iOS (якщо колись додаси)
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/build/
ios/Flutter/App.framework

# Web (якщо буде Flutter Web)
web/.dart_tool/
web/build/

# Windows (Flutter Desktop)
windows/.dart_tool/
windows/build/

# macOS
.DS_Store

# VS Code
.vscode/

# Android Studio
.idea/

# Environment secrets
.env

# Crashlytics (якщо колись буде Firebase)
android/app/crashlytics-build.properties
